{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Crisis en Tierras Infinitas</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Ad quis excepturi earum aut inventore quidem et laboriosam voluptatem id tempora 
            reiciendis recusandae perferendis eum non rerum, optio aliquid temporibus vel?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/dc.jpg" class="img-thumbnail">
    </div>
</div>



{{> footer }}